Repository Akashnilkanth1205/Demoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jroes, @anoctopus, @tconkling, @kmcgrady, @vdonato, @LukasMasuch, @mayagbarnes

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, that is.
frontend/package.json @jroes @anoctopus @tconkling @kmcgrady
lib/Pipfile @jroes @anoctopus @tconkling @kmcgrady
lib/setup.py @jroes @anoctopus @tconkling @kmcgrady
proto/ @vdonato @tconkling @LukasMasuch
.github/ @vdonato @mayagbarnes @kmcgrady

# `audit_frontend_dependencies` ensures that the libraries we ship
# with our frontend code don't violate Snowflake open source policy.
scripts/audit_frontend_licenses.py @kmcgrady @tconkling

Add single- multi-cell selection options in dataframes
  frontend/lib/src/components/widgets/DataFrame/hooks/useSelectionHandler.test.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useSelectionHandler.ts
  lib/streamlit/elements/arrow.py
  proto/streamlit/proto/Arrow.proto
Owners: @vdonato, @tconkling, @LukasMasuch

Fix UnicodeDecodeError during `pip install`
  lib/setup.py
Owners: @jroes, @anoctopus, @tconkling, @kmcgrady

Update .gitignore
  .gitignore
Owners: none

[feat] Selection on st.pydeck_chart
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-deselected[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-multi-selection[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-no-selections[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-single-selection[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_selection_state_remains_after_unmounting[chromium].png
  e2e_playwright/shared/pydeck_utils.py
  e2e_playwright/st_pydeck_chart_select.py
  e2e_playwright/st_pydeck_chart_select_callback.py
  e2e_playwright/st_pydeck_chart_select_callback_test.py
  e2e_playwright/st_pydeck_chart_select_form.py
  e2e_playwright/st_pydeck_chart_select_form_test.py
  e2e_playwright/st_pydeck_chart_select_fragment.py
  e2e_playwright/st_pydeck_chart_select_fragment_test.py
  e2e_playwright/st_pydeck_chart_select_test.py
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.test.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/types.ts
  frontend/lib/src/components/elements/DeckGlJsonChart/useDeckGl.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/utils/colors.test.ts
  frontend/lib/src/components/elements/DeckGlJsonChart/utils/colors.ts
  frontend/lib/src/components/elements/DeckGlJsonChart/utils/jsonConverter.ts
  frontend/lib/src/useBasicWidgetState.ts
  frontend/lib/src/util/assertNever.ts
  lib/streamlit/elements/deck_gl_json_chart.py
  lib/streamlit/runtime/state/common.py
  lib/streamlit/runtime/state/widgets.py
  proto/streamlit/proto/DeckGlJsonChart.proto
Owners: @vdonato, @tconkling, @LukasMasuch

Fixes for selection_mode param
  e2e_playwright/shared/pydeck_utils.py
  e2e_playwright/st_pydeck_chart_select.py
  e2e_playwright/st_pydeck_chart_select_callback.py
  e2e_playwright/st_pydeck_chart_select_form.py
  e2e_playwright/st_pydeck_chart_select_fragment.py
  e2e_playwright/st_pydeck_chart_select_test.py
  lib/streamlit/elements/deck_gl_json_chart.py
Owners: none

JSDoc comment update
  frontend/lib/src/useBasicWidgetState.ts
Owners: none

Parallel list feedback
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx
Owners: none

Default to single
  lib/streamlit/elements/deck_gl_json_chart.py
Owners: none

Update multiselect behavior to not require shift click
  e2e_playwright/st_pydeck_chart_select_test.py
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx
Owners: none

New return type shape
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/types.ts
  frontend/lib/src/components/elements/DeckGlJsonChart/useDeckGl.tsx
  lib/streamlit/elements/deck_gl_json_chart.py
Owners: none

Fix tests round 1
  e2e_playwright/shared/pydeck_utils.py
  e2e_playwright/st_pydeck_chart_select_test.py
Owners: none

Fix test_pydeck_chart_selection_callback
  e2e_playwright/st_pydeck_chart_select_callback_test.py
Owners: none

Fix test_pydeck_chart_selection_in_form
  e2e_playwright/st_pydeck_chart_select_form_test.py
Owners: none

fix test_pydeck_chart_selection_in_fragment
  e2e_playwright/st_pydeck_chart_select_fragment_test.py
Owners: none

Put all PyDeck selection tests into 1 file
  e2e_playwright/shared/pydeck_utils.py
  e2e_playwright/st_pydeck_chart_select.py
  e2e_playwright/st_pydeck_chart_select_callback.py
  e2e_playwright/st_pydeck_chart_select_callback_test.py
  e2e_playwright/st_pydeck_chart_select_form.py
  e2e_playwright/st_pydeck_chart_select_form_test.py
  e2e_playwright/st_pydeck_chart_select_fragment.py
  e2e_playwright/st_pydeck_chart_select_fragment_test.py
  e2e_playwright/st_pydeck_chart_select_test.py
Owners: none

Fix test
  e2e_playwright/st_pydeck_chart_select.py
  e2e_playwright/st_pydeck_chart_select_test.py
Owners: none

Shared util fix
  e2e_playwright/shared/pydeck_utils.py
Owners: none

Snapshot update
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-no-selections[chromium].png
Owners: none

Snapshot update
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-single-selection[chromium].png
Owners: none

Force CI to give us all new snapshots
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-deselected[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-multi-selection[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-no-selections[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-single-selection[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_selection_state_remains_after_unmounting[chromium].png
Owners: none

new snapshots from CI
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-deselected[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-multi-selection[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-no-selections[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-single-selection[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_selection_state_remains_after_unmounting[chromium].png
Owners: none

Add docstring for st.pills
  lib/streamlit/elements/widgets/button_group.py
Owners: none
